{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/members">
    <section 
        class="avatar" 
        style="background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat center center / cover"></section>
    <section class="details">
    
        <h3>Novo Membro</h3>

        {% include 'members/fields.njk' %}

    </section>
</form>

{% endblock content %}