<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url" 
            name="avatar_url"
            placeholder="http://"
            value="{{ member.avatar_url }}"
        >
    </div>
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input 
            type="text"
            name="name"
            value="{{ member.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input 
            type="email"
            name="email"
            value="{{ member.email }}"
        >
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input 
            type="date" 
            name="birth"
            value="{{ member.birth }}"

        >
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="M" 
                {% if member.gender == 'M' %}
                    checked
                {% endif %}> Masculino
        </span>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="F"
                {% if member.gender == 'F' %}
                    checked
                {% endif %}
                > Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>Tipo Sanguíneo</div>
    <div>
        <select name="blood">
            <option value="A+" {% if member.blood == "A+"%}selected{%endif%}>
                A+
            </option>
            <option value="A-" {% if member.blood == "A-"%}selected{%endif%}>
                A-
            </option>
            <option value="B+" {% if member.blood == "B+"%}selected{%endif%}>
                B+
            </option>
            <option value="B-" {% if member.blood == "B-"%}selected{%endif%}>
                B-
            </option>
            <option value="AB+" {% if member.blood == "AB+"%}selected{%endif%}>
                AB+
            </option>
            <option value="AB-" {% if member.blood == "AB-"%}selected{%endif%}>
                AB-
            </option>
            <option value="O+" {% if member.blood == "O+"%}selected{%endif%}>
                O+
            </option>
            <option value="O-" {% if member.blood == "O-"%}selected{%endif%}>
                O-
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Peso (kg)</div>
    <div>
        <input 
            type="number" 
            name="weight"
            value="{{ member.weight }}"
        >
    </div>
</div>

<div class="item">
    <div>Altura (cm)</div>
    <div>
        <input 
            type="number" 
            name="height"
            value="{{ member.height }}"
        >
    </div>
</div>



<div class="item">
    <div>Instrutor</div>
    <div>
        <select name="instructor">
            {% for instructor in instructorOptions %}
            <option value="{{instructor.id}}" {% if member.instructor_id == instructor.id %}selected{%endif%}>
                {{instructor.name}}
            </option>
            {%endfor%}
           
        </select>
    </div>
</div>

<button type="submit">Salvar</button>